
<br><br>

<div class="row log-in-box">
  <div class="col col s12  m4  offset-m4 center">
    <img class="circle responsive-img" width="150" height="150" src="/assets/iconCompany.jpg">
  </div>
</div>

<br>
<div class="row log-in-box ">

      <div class="row">
        <div class="input-field col  col s12  m4  offset-m4">
          <input id="Company Code" [(ngModel)]="compCode" [readonly]="mode === 'EDIT'" type="text" class="validate grey-text text-darken-1"
          placeholder="Please input company code">
          <label for="compCode">Company Code</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col  col s12  m4  offset-m4">
          <input id="Company Name" [(ngModel)]="compName" type="text" class="validate grey-text text-darken-1"
          placeholder="Please input company name">
          <label for="compName">Company Name</label>
        </div>
      </div>

  <br>
  <a class="waves-effect waves-light btn col col s12  m4  offset-m4  teal darken-3" (click)="onSave();">save</a>

  </div>