<nav>
  <div class="nav-wrapper teal lighten-2">
    <form>
      <div class="input-field">
        <input name="search" id="search" type="search" required [(ngModel)]="searchText">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" (click)="search();">find_in_page</i>
      </div>
    </form>
  </div>
</nav>


<table>
  <thead>
    <tr>
      <th><a class="grey-text text-darken-2">Issue Code</a></th>
      <th><a class="grey-text text-darken-2">Company</a></th>
      <th><a class="grey-text text-darken-2">Customer Name</a></th>
      <th><a class="grey-text text-darken-2">User Name</a></th>
      <th><a class="grey-text text-darken-2">Status</a></th>
      <th><a class="grey-text text-darken-2">date</a></th>
      <th><a class="grey-text text-darken-2">Edit</a></th>
      <th><a class="grey-text text-darken-2">Delete</a></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let i of issueData; let id = index;">
      <td><a class="grey-text text-darken-1">{{i.issueCode}}</a></td>
      <td><a class="grey-text text-darken-1">{{i.company}}</a></td>
      <td><a class="grey-text text-darken-1">{{i.cusName}}</a></td>
      <td><a class="grey-text text-darken-1">{{i.userName}}</a></td>
      <td><a class="grey-text text-darken-1">{{i.status}}</a></td>
      <td><a class="grey-text text-darken-1">{{i.date}}</a></td>
      <td> <a class="btn-floating btn-small waves-effect waves-light cyan lighten-1" (click)="onEditButtonClick(i._id);">
           <i class="material-icons">edit</i></a></td>
      <td><a class="btn-floating btn-small waves-effect waves-light deep-orange accent-2" (click)="onDeleteButtonClick(i._id);">
           <i class="material-icons">delete</i></a></td>
    </tr>
  </tbody>
</table>

<ul class="pagination white">
  <li class="waves-effect" *ngFor="let p of paging; let i = index;" [ngClass]="{'active' : i == numPage}" (click)="gotoPage(i);">
    <a>  {{p}}</a>

  </li>
</ul>

<div class="fixed-action-btn center">
  <a class="btn-floating btn-large  waves-effect waves-light  green darken-1 " (click)="onAddButtonClick();">
           <i class="material-icons">add</i></a>
</div>